frontend/node_modules/
backend/target/
backend/logs/
backend/logs/*
backend/logs/**/*
backend/logs/**/**/*
backend/logs/**/**/**/*
backend/logs/**/**/**/**/*
backend/logs/**/**/**/**/**/*
backend/logs/**/**/**/**/**/**/*
backend/logs/**/**/**/**/**/**/**/*